.title{
  font-size:60px;
  border: 1px solid #000000;
  text-align:center;
}

.date{
  font-size:25px;
  margin : 10px 0 0 1600px;
  border: 1px solid #000000;
  text-align:center;
  height : 30px;
  width : 300px;
}

.content{ /* 완성 후 지울 예정*/
  border : 1px solid #000000;
  height : 700px;
}

.real{
  margin : 10px 200px 0 200px;
  font-size : 25px;
  border : 1px solid #000000;
  height : 700px;
}

.saying{ /*명언 넣는 부분*/
  margin : 10px 100px 0 30px;
  font-size : 25px;
  border : 1px solid #000000;
  height : 45px;
  width : 80%;
  text-align : center;
}
